
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />    
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.min.css" rel="stylesheet" type="text/css" />

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

    <title>Access Denied</title>
</head>
<body>
    <table style="width:100%">
        <tr>
            <td style="text-align:center">
                <div>
                    <br /><br />
                    <p>You currently do not have access to the Account Management application. For Technical Support please contact DOT IT Services at 202-385-4357 or 1-866-466-5221.</p><br /><br />
                    <asp:Button ID="Button1" OnClientClick="window.open('', '_self', ''); window.close();" CssClass="buttonGreen" Font-Bold="true" runat="server" Text="Close" ToolTip="Close current window"></asp:Button>

                </div>
            </td>
        </tr>
    </table>
</body>
</html>
